#horario {
	background-color: $color_gris_claro_3;
	padding: 40px 0 40px 0;
	border-top: 0.5px lightgray solid;
	text-align: center;
}
.texto-horario {
	padding-bottom: 20px;
}
table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: auto;
	margin-bottom: 20px;
	font-size: 12px;
}
th {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	background-color: $color_gris_oscuro_1;
}
td {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	&:first-child {
		font-weight: bold;
	}
}
